@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@900&display=swap");
html {
  font-size: 10px;
}

main .tituloservicios {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

/*INDEX*/
/*color fondo*/
body {
  background: orange;
}

html {
  font-size: 10px;
}

/*footer INDEX*/
footer .imagenfoot {
  background-color: white;
}
footer .fotosfoot {
  width: 50%;
  margin: 0% 0% 0% 25%;
}
footer .redes {
  margin: 5% 5%;
  padding: 5% 5% 6% 3%;
}
footer .textosredes {
  font-size: 15px;
  margin: 5% 15% 1% 0%;
  font-family: "Open Sans", sans-serif;
  display: block;
  color: black;
}
footer .logowhats {
  width: 23%;
}
footer .logoinsta {
  width: 20%;
}
footer .logomail {
  width: 18%;
}
footer .logopago {
  width: 40%;
}
footer div .copy {
  font-size: 2rem;
  margin: 1% 29% 1% 1%;
  font-family: "Open Sans", sans-serif;
  display: block;
  color: black;
}

/*redes contacto*/
@media screen and (max-width: 992px) {
  footer .textosredes {
    margin: 5% 15% 1% 10%;
    font-size: 1rem;
  }
  footer .logowhats {
    width: 18%;
  }
  footer .logoinsta {
    width: 18%;
  }
  footer .logomail {
    width: 17%;
  }
  footer .logopago {
    width: 33%;
  }
}
@media screen and (max-width: 578px) {
  footer .fotosfoot {
    width: 80%;
    margin: 1% 6% 1% 10%;
  }
}
@media screen and (max-width: 465px) {
  footer .imagenfoot {
    margin: 1% 1% 3% 1%;
  }
  footer .redes {
    margin: 10% 0%;
  }
  footer .textosredes {
    margin: 3% 1% 9% 0%;
    font-size: 6px;
  }
  footer .logowhats {
    width: 10%;
  }
  footer .logoinsta {
    width: 10%;
  }
  footer .logomail {
    width: 10%;
  }
  footer .logopago {
    width: 30%;
  }
  footer div .copy {
    font-size: 6px;
    margin: 1% 29% 1% 1%;
  }
}
@media screen and (max-width: 400px) {
  footer .redes {
    margin: 20% 1% 10% 0%;
  }
  footer .imagenfoot {
    margin: 12% 0%;
  }
  footer .fotosfoot {
    width: 65%;
    margin: 0% 0% 0% 19%;
  }
}
html {
  font-size: 10px;
}

/*HEADER INDEX*/
header div .logo-inicio {
  margin: 1% 1%;
  width: 15%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: wrap;
}
header .abierto {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 1% 35%;
  width: 15%;
  display: inline;
}
header nav div a .whats-inicio {
  width: 6%;
  margin: 1% 1%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
header .titulo {
  color: orange;
  font-size: 4rem;
  font-family: "Orbitron", sans-serif;
  border: 3px solid whitesmoke;
  background-color: black;
  padding: 3% 1%;
  margin: 1% 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header .navbarsect {
  margin: 1% 1%;
}
header .linkinicio {
  text-decoration: none;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 0% 5% 0% 10%;
}

@media screen and (max-width: 992px) {
  header .abierto {
    margin: 1% 32%;
  }
}
@media screen and (max-width: 798px) {
  header .abierto {
    margin: 1% 22%;
  }
}
@media screen and (max-width: 516px) {
  header .abierto {
    margin: 1% 1%;
    font-size: 1.5rem;
  }
  header .titulo {
    font-size: 2rem;
  }
}
html {
  font-size: 10px;
}

html {
  font-size: 10px;
}

main .tituloservicios {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

/*MAIN INDEX*/
main .carrousel {
  width: 70%;
  margin: 5% 1% 5% 15%;
}

@media screen and (max-width: 465px) {
  main .carrousel {
    width: 77%;
    margin: 2% 0% 4% 10%;
  }
}
@media screen and (max-width: 400px) {
  main .carrousel {
    width: 80%;
    margin: 12% 1% 5% 10%;
  }
}
/*MAIN NOSOTROS*/
main .parrafo-quienes {
  padding: 5% 14%;
  margin: 5% 5%;
  color: whitesmoke;
  border: 6px solid whitesmoke;
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 915px) {
  main .parrafo-quienes {
    margin: 8% 3% 8% 3%;
    padding: 2% 2% 2% 2%;
    font-size: 2rem;
  }
}
/*main productos*/
main .imgproduct {
  width: 70%;
  height: 80%;
  border-radius: 15%;
}
main .textproduct {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

/*medias*/
@media screen and (max-width: 990px) {
  main .textproduct {
    font-size: 24px;
  }
  main .imgproduct {
    width: 90%;
    height: 60%;
  }
}
@media screen and (max-width: 770px) {
  main .textproduct {
    font-size: 14px;
  }
}
/*main SERVICIOS*/
main .imgservicios {
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
main .imgservicios3 {
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
main .servicioscont {
  margin: 6% 0% 20% 3%;
}
main .tituloservicios {
  padding: 2% 3%;
  border: 5px solid whitesmoke;
  margin: 5% 13% 0% 5%;
}
main .listaautomotor li {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin: 9% 1% 0% 11%;
}

/*medias*/
@media screen and (max-width: 995px) {
  main .imgservicios {
    width: 90%;
    height: 90%;
    border-radius: 10%;
  }
  main .imgservicios3 {
    width: 95%;
    height: 76%;
    border-radius: 10%;
  }
}
@media screen and (max-width: 775px) {
  main .imgservicios {
    height: 75%;
  }
  main .imgservicios3 {
    width: 95%;
    height: 76%;
  }
  main .tituloservicios {
    padding: 1% 11%;
    border: 3px solid whitesmoke;
    margin: 3% 26% 0% 0%;
    font-size: 12px;
  }
  main .listaautomotor li {
    font-size: 12px;
    margin: 8% 0% 0% 0%;
  }
  main .servicioscont {
    margin: 8% 0% 3% 3%;
  }
}
/*MAIN CONTACTO*/
/*mapita*/
main .mapita {
  width: 80%;
  margin: 1% 20%;
}
main .form {
  width: 40%;
  margin: 1% 1%;
}

/*medias*/
@media screen and (max-width: 465px) {
  main .mapita {
    width: 130%;
    height: 50%;
    margin: 20% 38%;
  }
  main .form {
    width: 70%;
    margin: 3% 15%;
  }
}
.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
