@import '../base/colors';
@import '../base/fonts';
@import '../base/mixin';

/*footer INDEX*/

footer {

    .section-redes {
        margin: 10% 0% 15% 0%;
        display: flex;
        text-align: center;
        justify-content: center
    }
    .item-redes{
        @include margwid (8% 20% 5% 0%, 15%);
    }

    .item-redes:hover {filter: opacity(.5);}

    .p-redes {
@include fontmar (5% 15% 2% 0, 20px);
       
        font-family: 'Open Sans', sans-serif;
        display: block;
        color: black;
    }


    .container-imgfoot {

        background-color: nth($colors, 4)
    }

    .img-foot {
        @include margwid (0% 0% 0% 25%, 50%);

    }


    div {

        .p-copy {

            @include fontmar (1% 29% 1% 1%, 2rem);
            font-family: nth($fonts, 1);
            display: block;
            color: nth($colors, 1);
        }

    }


}


/*Medias queries*/


@media screen and (max-width: 820px) {
    footer {
        .section-redes {
            margin: 10% 0% 15% 0%;
        }


        .item-redes {
            @include margwid (8% 20% 5% 0%, 15%)
        }

        .p-redes {
@include fontmar (1% 15% 6% 5%, 15px); 
           
        }

    }
}


@media screen and (max-width: 465px) {

    footer {

        div {
            .p-copy {
@include fontmar (1% 29% 1% 1%, 12px);
            }
        }

        .p-redes{

            font-size: 13px;
        }

    }
}