@import '../base/colors';
@import '../base/fonts';
@import '../base/mixin';


/*HEADER INDEX*/

header {

    div {
        .logo-inicio {
            @include margwid (1% 1%, 20%);
            display: flex;
            justify-content: left;
            align-items: flex-end;
            flex-wrap: wrap;
        }
    }

    .container-abierto {animation: translate 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;   
        animation-direction: alternate;
    }
    
    @keyframes translate { from { transform: translate(50%);
        to {transform: translate(40%);} }}
    
        .abierto {
            font-size: nth($size-fonts, 3);
            font-family: nth($fonts, 1);
            color: nth($colors, 1);
         
        }
   
    nav {
            a {
                .whats-inicio {
                    @include margwid (3% 8%, 6%);
                    position: fixed;
                    top: 0;
                    right: 0;
                    display: flex;
                    justify-content: right;
                    flex-wrap: wrap;
                    z-index: 1;
                }
            }
        }
    

    .titulo {
        color: nth($colors, 2);
        font-family: nth($fonts, 2);
        border: 3px solid nth($colors, 3);
        background-color: nth($colors, 1);
        padding: 3% 1%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include fontmar (1% 1%, 4rem);
    }

    .navbarsect {
        margin: 1% 1%;
    }

    .linkinicio {
        text-decoration: none;
        list-style-type: none;
        font-family: nth($fonts, 1);
        @include fontmar (0% 5% 0% 10%, 2rem);

    }

}





@media screen and (max-width: 516px) {
    header {
        .abierto {font-size: 1.5rem;
        
        }

        .titulo {
            font-size: nth($size-fonts, 3);
        }
    }


}