@import '../base/colors';
@import '../base/fonts';
@import '../base/mixin';


/*HEADER INDEX*/

header {
/*logo header*/
    div {
        .img-logo {
            @include margwid (1% 1%, 26%);
            display: flex;
            justify-content: left;
            align-items: flex-end;
            flex-wrap: wrap;
        }
    }

    /*whatsapp fixed*/
    
    nav {
        .container-whats {position: fixed;
           top: 0;
           right: 0;
           display: flex;
           justify-content: right;
           flex-wrap: wrap;
           z-index: 1;}

       }

       .img-whats {
        
        @include margwid (2% 12%, 10%);
       }

       /*emergencias 24hs*/

    .container-abierto {animation: translate 2s;
        animation-iteration-count: infinite;
          animation-timing-function: linear;  
         
     
      }
      
      @keyframes translate { from { transform: translate(15%);
          to {transform: translate(-15%);} }}

    
        .p-abierto {
            font-size: nth($size-fonts, 3);
            font-family: nth($fonts, 1);
            color: nth($colors, 1);
         
        }
   
/*titulo de la pag*/

    .h1-titulo {
        color: nth($colors, 2);
        font-family: nth($fonts, 2);
        border: 3px solid nth($colors, 3);
        background-color: nth($colors, 1);
        padding: 3% 1%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include fontmar (1% 1%, 4rem);
    }

    .navbarsect {
        margin: 1% 1%;
    }

    .linkinicio {
        text-decoration: none;
        list-style-type: none;
        font-family: nth($fonts, 1);
        @include fontmar (0% 5% 0% 10%, 2rem);

    }

}





@media screen and (max-width: 516px) {
    header {
        .p-abierto {font-size: 18px;
        
        }

        .h1-titulo {
            font-size: nth($size-fonts, 3);
        }
    }


}