@import '../base/fonts';
@import '../base/extend';
@import '../base/fonts';
@import '../base/mixin';

/*MAIN INDEX*/

main .carrousel {
   @include margwid (5% 1% 5% 15%, 70%);
}

@media screen and (max-width: 465px) {
   main {
      .carrousel {
         @include margwid (15% 0% 15% 0%, 100%);
      }
   }
}


/*MAIN NOSOTROS*/

main {

   .parrafo-quienes {

      padding: 5% 14%;
      color: nth($colors, 3);
      border: 6px solid nth($colors, 3);
      font-family: nth($fonts, 1);
      @include fontmar (5% 5%, 1rem)
   }
}



@media screen and (max-width: 915px) {
   main {
      .parrafo-quienes {
         padding: 2% 2% 2% 2%;
         @include fontmar (8% 3% 8% 3%, 2rem);
      }
   }
}

/*main productos*/

main {
   .sec-products {
     width: 100%;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      justify-content: center;

   }
   
.imgproduct {
   width: 70%;
   height: 80%;
   border-radius: 15%;
}

.imgproduct:hover {
   transform: scale(0.70);
   transition: all, 0.5s;
}
.textproduct {
   font-size: nth($size-fonts , 3 );
   font-family: nth($fonts, 1 );
}

}

/*medias*/


@media screen and (max-width: 550px)
 { main {
   
   .sec-products {
  
       grid-template-columns: 50% 50%;
       margin: 5% 5%;
 }
.imgproduct {
   width: 60%;
   height: 70%;
} 

.textproduct {
   font-size: 12px;
}}
}



/*main SERVICIOS*/
main {
   .imgservicios {
      width: 100%;
      height: 100%;
      border-radius: 15%;
   }
.imgservicios:hover {
   transform: scale(0.75);
   transition: all, 0.5s;
}
   
   .servicioscont {margin: 6% 0% 20% 3%;
   }

   .tituloservicios {
      @extend %tituloservicios;
      padding: 2% 3%;
      border: 5px solid nth($colors, 3);
      margin: 5% 13% 0% 5%;
   }


   .listaautomotor li {
      list-style-type: none;
      font-family: 'Open Sans', sans-serif;
  @include fontmar (9% 1% 0% 11%, 2rem);
   }


}

/*medias*/

@media screen and (max-width: 995px) {

   main {
      .imgservicios {
         width: 90%;
         height: 90%;
         border-radius: 10%;
   }

   } 

}


@media screen and (max-width: 775px)
{ main {
   .imgservicios {
      height: 75%;
      width: 95%;
   }

   .tituloservicios {
    padding: 1% 11%;
    border: 3px solid whitesmoke;
    
    @include fontmar (3% 26% 0% 0%, 12px)
   }
   
   .listaautomotor li {
      @include fontmar (8% 0% 0% 0%, 12px);
   }
   .servicioscont {
      
    margin: 8% 0% 3% 0%;
   }

}

}

/*MAIN CONTACTO*/


/*mapita*/
main {

   .mapita {
      @include margwid (1% 20%, 80%);

   }

   .form {
      @include margwid (1% 1%, 40%);
   }
}

/*medias*/

@media screen and (max-width: 465px) {
   main .mapita {
      height: 50%;
      @include margwid (20% 38%, 130%);
   }
   main .form {
      @include margwid (3% 15%, 70%);
}
   }
